
    *{
        margin: 0px;
        box-sizing: border-box;
        height: 100%;
        padding: 0px;
        width: 100%;
        
    
    }


    body{
        margin: 0px;
        box-sizing: border-box;
        height: 100%;
        padding: 0px;
        width: 100%;
    
    }
