
    .a {
        background-color: blue;
        height: 100px;
        width: 960px;
        line-height: 75px;
        }
        
        
        .b {
            background-color: rgb(255, 30, 0);
            float: left;
            height: 200px;
            width: 600px;
            line-height: 200px;
        
            
            
        }
        
        .c {
            background-color: rgb(251, 255, 0);
            float: left;
            height: 200px;
             width: 380px;
             line-height: 200px;
            
        
        }
        
        .d{
            background-color: rgb(0, 255, 42);
            float: left;
            height: 200px;
             width: 380px;
             line-height: 200px;
            
        }
        
        
        
        .e {
            background-color: rgb(75, 114, 52);
            float: left;
            height: 190px;
             width: 250px;
             line-height: 190px;
            
        
        }
        
        .f {
            background-color: rgb(98, 0, 255);
            float: left;
            height: 190px;
             width: 250px;
             line-height: 190px;
        
        }
        
        .g {
            background-color: rgb(255, 0, 119);
            float: left;
            height: 190px;
             width: 250px;
             line-height: 190px;
        
        }
        
        .h {
            background-color: rgb(209, 19, 19);
            height: 190px;
             width: 250px;
             line-height: 190px;
             float: left;
        
        }
        
        .i {
            background-color: rgb(0, 255, 21);
            float: left;
            height: 150px;
             width: 760px;
             line-height: 150px;
        
        }


    

    
    /* @media screen and (max-width: 480px) { */